In [1]:
## COMPARASION OPERETOR
1 < 2

True

In [2]:
1 > 2

False

In [3]:
1 <= 2

True

In [4]:
1 == 1

True

In [5]:
1 != 3

True

In [6]:
'string' == 'string'

True

In [7]:
1 == '1'

False

In [9]:
## LOGICAL OPERATOR
(1== 2) and (1==1)

False

In [10]:
(1== 2) or (1==1)

True

In [11]:
(1==1) and not (1==2)

True

In [12]:
## IF-ELSE

In [15]:
if (1==1):
    print('hello')

hello

In [17]:
if (1==2):
    print('hello')
elif (2==2):
    print('two')
else:
    print('if statement not TRUE')

two

In [18]:
## FOR LOOP
seq = [1,2,3,4,5]

for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [19]:
for item in seq:
    print(item)

1
2
3
4
5

In [20]:
for item in seq:
    print(item**2)

1
4
9
16
25

In [21]:
## WHILE LOOP
i = 1
while i < 5:
    print(f'i is currently {i}');
    i = i+1

i is currently 1
i is currently 2
i is currently 3
i is currently 4

In [23]:
## RANGE

for item in range(5):
   print(item)

0
1
2
3
4

In [24]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
## LIST COMPREHENSION
x = [1,2,3,4]

In [29]:
out = []
for num in x:
    out.append(num**2)

In [30]:
out

[1, 4, 9, 16]

In [32]:
# or
# for loop in brackets
[num**2 for num in x]

[1, 4, 9, 16]