In [1]:
#comment
#10

In [ ]:
##NUMBERS

In [2]:
1+1

2

In [3]:
1-3

-2

In [4]:
2*3

6

In [5]:
1/2

0.5

In [7]:
#exponent
2**4

16

In [9]:
#Modulus
5%2

1

In [10]:
(2+3)*(5+5)

50

In [11]:
## VARIALBLE
name_of_var = 2

In [12]:
x = 1

In [13]:
y=2

In [16]:
x+y

3

In [19]:
## QUOTES
'single quote'

'single quote'

In [18]:
"double quote"

'double quote'

In [20]:
## PRINT
x = 'hello'

In [21]:
print(x)

hello

In [22]:
print("Double")

Double

In [23]:
## STRING INTERPOLATION
name = "Jose Portilla"

In [25]:
print(f"Hello my name is {name} ")

Hello my name is Jose Portilla

In [26]:
number = 12

In [27]:
print(f"Hi my name is {name} and my number is {number}")

Hi my name is Jose Portilla and my number is 12

In [28]:
## LIST > same as ARRAY

[1,2,3,]

[1, 2, 3]

In [29]:
['hi', 0, 1]

['hi', 0, 1]

In [35]:
my_list = [1,2,3]

In [36]:
my_list.append(4)

In [67]:
my_list

[1, 2, 3]

In [68]:
my_list= ['a','b','c','d']

In [69]:
my_list

['a', 'b', 'c', 'd']

In [70]:
my_list[0]

'a'

In [43]:
my_list[3]

'd'

In [44]:
#back of list
my_list[-1]

'd'

In [45]:
## SLICE
#start position: and last position
my_list[0:2]

['a', 'b']

In [48]:
#from begining
my_list[0:2]

['a', 'b']

In [49]:
#from end
my_list[2:]

['c', 'd']

In [50]:
nested = [1,2,['a','b']]

In [51]:
#get nested list
nested[2]

['a', 'b']

In [53]:
#grab specific letter
nested[2][0]

'a'

In [54]:
## DICTIONARY
d = {'key':10, 'key2':'seconditem'}

In [55]:
d

{'key': 10, 'key2': 'seconditem'}

In [57]:
#pass key value 
d['key2']

'seconditem'

In [58]:
## BOOLEAN
True

True

In [59]:
False

False

In [60]:
## TUPLE

In [76]:
t= (1,2,3)

In [62]:
t[0]

1

In [71]:
t = [1,2,3]

In [72]:
t

[1, 2, 3]

In [73]:
t[0]

1

In [78]:
## SET
{1,2,3}

{1, 2, 3}

In [79]:
{1,1,1,1,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [80]:
set([1,2,3,4,3,2,3,2,2,2])

{1, 2, 3, 4}